@page "/Game"

<PageTitle>Game</PageTitle>

<h1>Game 1</h1>

<p>This component demonstrates showing data.</p>

<FluentButton Appearance="Appearance.Accent"></FluentButton>
<FluentButton Appearance="Appearance.Accent"></FluentButton>
<FluentButton Appearance="Appearance.Accent"></FluentButton>
<p></p>
<FluentButton Appearance="Appearance.Accent"></FluentButton>
<FluentButton Appearance="Appearance.Accent"></FluentButton>
<FluentButton Appearance="Appearance.Accent"></FluentButton>
<p></p>
<FluentButton Appearance="Appearance.Accent"></FluentButton>
<FluentButton Appearance="Appearance.Accent"></FluentButton>
<FluentButton Appearance="Appearance.Accent"></FluentButton>